<div id="home" class="col-md-12">
    <div class="middle-content well">
    <% if user_signed_in? %>
      <h4>Actions:</h4>
        <ul>
          <li>
          <%= link_to "License Decoder", "/util/licenses", class: "" %>
        </li>
        <li>
          <%= link_to "Log Fetcher", "/util/logs", class: "" %>
        </li>
        </ul>
    <% else %>
      <h2>Not Logged In</h2>
    <% end %>
  </div>
</div>
