<div id="user" class="col-md-12">
  <div class="margin col-md-1"></div>
  <div class="col-md-6 well" id="profile-body">
    <div class="profile-item">
      <label>Email:&ensp;</label>
      <%= current_user.email %>
    </div>
    <div class="profile-item">

    </div>
  </div>
  <div class="margin col-md-5"></div>
</div>