<div id="user" class="col-md-12">
  <div class="well middle-content" id="profile-body">
    <div class="profile-item">
      <label>Email:&ensp;</label>
      <%= current_user.email %>
    </div>
    <div class="profile-item">
      <label>Role:&ensp;</label>
        <% if current_user.admin? %>
          Administrator
        <% else %>
          Basic User
        <% end %>
    </div>
  </div>
</div>